@import "@fontsource/dm-sans";
@import "tailwindcss";

:root {
  @apply bg-black text-white font-sans overflow-y-auto md:overflow-y-hidden;
}
/* ul{
  @apply flex flex-col md:flex-row hover:bg-amber-50 hover:bg-gray-700 transition-colors duration-300 rounded-2xl p-2 cursor-pointer;
} */
nav{
  @apply flex flex-col md:flex-row;
}
button{
  @apply cursor-pointer;
  animation: fade-in 0.5s ease-in-out forwards;
}
a{
  @apply cursor-pointer;
  animation: fade-in 1s ease-in-out forwards;
}
h1,h2,h3,h4,h5,h6{
  animation: fade-in 0.5s ease-in-out backwards;
}
p{
  animation: fade-in 0.7s ease-in-out forwards;
}
span{
  animation: fade-in 1s ease-in-out forwards;
}
.badge{
  animation: fade-in 1.2s ease-in-out forwards;
}
.picture{
  animation: fade-in 0.7s ease-in-out forwards;
}
input, textarea{
  @apply border border-gray-300 rounded-lg p-2 mb-4 w-full;
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
  
}